{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <!--
    <div class="bg-danger pt-3 pb-3 row justify-content-center toLogin">
      <div class="align-celf-center d-inline">
          <div class="text-white d-inline">ログインしてください</div>
      </div>
    </div>
    -->
    {% endif %}
{% endif %}

{% if form.errors %}
  <div class="bg-danger pt-3 pb-3 row justify-content-center">
    <div class="align-celf-center d-inline">
        <div class="text-white d-inline">ユーザー名またはパスワードが間違っています</div>
    </div>
  </div>
{% endif %}
<div class="main container text-center">
  <h3 class="mb-5">ログイン</h3>
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <div class="form-group row justify-content-center mb-3">
      <label class="col-2">ユーザー名</label>
      {{ form.username|add_class:"form-control col-5" }}
    </div>
    <div class="form-group row justify-content-center mb-5">
      <label class="col-2">パスワード</label>
      {{ form.password|add_class:"form-control col-5" }}
    </div>

    <input type="submit" class="btn btn-info" value="ログイン" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <a href="{% url 'accounts:signup' %}" class="btn btn-info text-white mt-3">新規ユーザー登録</a>
</div>
{% endblock %}
