{% extends "receiptapp/base.html" %}
{% load i18n static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock extra_css %}
{% block title %}健康管理アプリ|トップ{% endblock title %}

{% block userstate %}{{ user.username }}{% endblock userstate %}

{% block content %}
{% if isMsg %}
  <div class="bg-danger pt-3 pb-3 row justify-content-center">
    <div class="align-celf-center d-inline">
        <div class="text-white d-inline">{{ msg }}</div>
    </div>
  </div>
{% endif %}
<form method="post" id="ajax-add-post">
    {% csrf_token %}
    <input type="text" name="input_a" id="input_a">
    <input type="text" name="input_b" id="input_b">
    <input type="submit" name="add_button" value="計算!">
</form>
<div>
    結果: <span id="result-text">0</span>
</div>
<div class="main container text-center">
    <h2 class="text-left text-info mb-5">
        <i class="fas fa-home"></i>
        HOME
    </h2>
    <h3 class="text-left mb-5">
        <div class="">
              保存済みのレシート一覧
              <a href="{% url 'newZero' %}" class="btn btn-info" style="float: right;">
                  <i class="fas fa-receipt fa-lg mr-1"></i>
                  空のレシートを作成
              </a>
        </div>
    </h3>
    {% for year, month, date_list in month_list %}
        <section class="{{year}} {{month}} month-box">
            <section class="row justify-content-around no-gutters mb-5 month pt-3 pb-3">
                {% if year == 2019 and month == 1 %}
                    <div class="bmonth" style="visibility:hidden">
                        <i class="fas fa-angle-left fa-lg"></i>
                        前月
                    </div>
                {% else %}
                    <div class="bmonth" onClick="beforeMonth({{year}}, {{month}})">
                        <i class="fas fa-angle-left fa-lg"></i>
                        前月
                    </div>
                {% endif %}
                <div class="lead nowmonth">{{year}}/{{month}}</div>
                {% if year == 2020 and month == 12 %}
                    <div class="amonth" style="visibility:hidden">
                        後月
                        <i class="fas fa-angle-right fa-lg"></i>
                    </div>
                {% else %}
                    <div class="amonth" onClick="afterMonth({{year}}, {{month}})">
                        後月
                        <i class="fas fa-angle-right fa-lg"></i>
                    </div>
                {% endif %}
            </section>
            {% for date, receipt_list in date_list %}
                <section class="oneday mb-5">
                    <div class="date lead">
                        {{ date.month }} / {{ date.day }}
                    </div>
                    {% for receipt, detail_list in receipt_list reversed %}
                        <a class="row food justify-content-center align-items-center no-gutters" href="{% url 'receipts_detail' receipt.id %}">
                            <div class="col-2 r-num">
                                <span>{{ forloop.revcounter }}</span>
                            </div>
                            <div class="col-8">
                                {% for detail in detail_list %}
                                    {{detail.food.food_name}}<br>
                                {% endfor %}
                            </div>
                            <div class="col-2">
                                {{ receipt.receipt_date.hour|add:"9" }}：
                                {{ receipt.receipt_date.minute }}
                            </div>
                        </a>
                    {% endfor %}
                </section>
            {% endfor %}
        </section>
    {% endfor %}
</div>
{% endblock content %}
{% block extra_js %}<script src="{% static 'js/index.js' %}"></script>{% endblock extra_js %}
