{% extends "receiptapp/base.html" %}
{% load i18n static %}

{% block title %}健康管理アプリ|トップ{% endblock title %}
{% block userstate %}{{ user.username }}{% endblock userstate %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/receipts_detail.css' %}">{% endblock extra_css %}

{% load common %}

{% block content %}
<div class="main container text-center">
	<h3 class="text-left mb-5">レシート詳細</h3>
	<p class="font-weight-bold">レシート日時：{{ receipt.receipt_date }}</p>
	<div>
		<a href="{% url 'receipts_delcheck' receipt.id %}" class="btn btn-danger text-white mb-3">レシート削除</a>
	</div>
	<div>
		<a href="{% url 'receipts_foods_new' receipt.id %}" class="btn btn-info text-white mb-5">食事情報追加</a>
	</div>

	{% for food in food_list %}
		<div class="section" id="{{ forloop.counter }}">
			{{ food.0.food_name }}
			{{ food.1.amount }}g
			<a href="{% url 'receipts_foods_edit' receipt.id food.0.id food.1.id %}" class="btn btn-primary text-white ml-4 mr-4">編集</a>
			<button class="btn btn-danger text-white delete-modal-button"
			data-toggle="modal" data-target="#testModal"
			data-deleteurl="{% url 'food_delete' food.1.id %}">削除</button>
			<table class="table mt-5 mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col" class="text-center">栄養素名</th>
						<th scope="col" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">塩分</td>
						<td class="text-center">{{ food.2.0 }}</td>
					</tr>
					<tr>
						<td class="text-center">タンパク質</td>
						<td class="text-center">{{ food.2.1 }}</td>
					</tr>
					<tr>
						<td class="text-center">エネルギー</td>
						<td class="text-center">{{ food.2.2 }}</td>
					</tr>
					<tr>
						<td class="text-center">炭水化物</td>
						<td class="text-center">{{ food.2.3 }}</td>
					</tr>
					<tr>
						<td class="text-center">脂質</td>
						<td class="text-center">{{ food.2.4 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endfor %}

	<a href="{% url 'index' %}" class="btn btn-primary mb-5 mt-5">トップページへ</a>
</div>

<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><div class="modal-title" id="myModalLabel">削除確認画面</div></h4>
            </div>
            <div class="modal-body">
                <label>データを削除しますか？</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <a href="" class="btn btn-danger" id="delete-link">削除</a>
            </div>
        </div>
    </div>
</div>

<!--
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">確認</p>
        </header>
        <section class="modal-card-body">
            本当に削除してよろしいですか。
        </section>
        <footer class="modal-card-foot">
            <form action="" method="POST" id="delete-form">
                {% csrf_token %}
                <button type="button" class="button is-info" id="delete-cancel-button">キャンセル</button>
                <button type="submit" class="button is-danger">本当に削除</button>
            </form>
        </footer>
    </div>
</div>
-->
{% endblock content %}
{% block extra_js %}

<script>
    const deleteLink = document.getElementById('delete-link');
    const modal = document.getElementById('modal');
    const deleteCancelButton = document.getElementById('delete-cancel-button');
    const deleteModalButtons = document.getElementsByClassName('delete-modal-button');

    for (const button of deleteModalButtons) {
        button.addEventListener('click', () => {
            deleteLink.href = button.dataset.deleteurl;
        });
    }

</script>

{% endblock extra_js %}
