{% extends "receiptapp/base.html" %}
{% load i18n static %}
{% block userstate %}{{ user.username }}{% endblock userstate %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/receipts_new.css' %}">{% endblock extra_css %}
{% block title %}健康管理アプリ|画像投稿{% endblock title %}

{% block content %}
<div class="main container text-center">
    <h2 class="text-left text-info mb-5">
        <i class="fas fa-receipt"></i>
        NEW RECEIPT
    </h2>
    <h3 class="text-left mb-5">レシート投稿フォーム</h3>
    <div style="color:dimgray;" class="mb-5">
        レシート画像を選択してください
    </div>
    <div class="form-box mt-3">
        <form action="{% url 'image_new' %}" method="post" enctype="multipart/form-data" class="post-form text-center mx-auto" style="width: 600px;">
            {% csrf_token %}
            <div class="custom-file mb-5">
                {{ form }}
                <label class="custom-file-label" for="receiptImg" data-browse="参照">ファイル選択...</label>
            </div>
            <button type="submit" class="btn btn-info mx-auto" onclick="loadstart()">画像解析</button>
        </form>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/new.js' %}"></script>
{% endblock extra_js %}
