.a2, .a4, .a1 {
    border-bottom: 3px solid white;
}

.a2:hover, .a1:hover {
    border-bottom: 3px solid rgba(91, 192, 222, 0.3);
}

.a3 {
    color: #5bc0de;
    border-bottom: 3px solid #5bc0de;
}

.a3 i, .a3 span {
    color: #5bc0de;
}

h2 {
    font-weight: lighter;
    margin-top: 100px;
}

h3 {
    font-weight: lighter;
    color: dimgray;

}

.graph-box {
    background-color: white;
}
