.a1, .a3, .a4 {
    border-bottom: 3px solid white;
}

.a1:hover, .a3:hover {
    border-bottom: 3px solid rgba(91, 192, 222, 0.3);
}

.a2 {
    color: #5bc0de;
    border-bottom: 3px solid #5bc0de;
}

.a2 i, .a2 span {
    color: #5bc0de;
}

.form-box {

}

.h3-select-before {
    display: none;
}

.h3-select-after {
    display: block;
}


/* loadアニメーション */
#circle {
    width: 80px;
    height: 80px;
    /*display: inline-block;*/
}

#circle-text {
    /*display: inline-block;*/
    color: dimgray;
}
